 <% if flash[:notice] %>
     <p class="notice">
       <%= flash[:notice] %>
     </p>
 <% end %>
 <br>

<p><b>Title:</b> <%= @book.title %></p><br>

<p><b>Body:</b> <%= @book.body %></p><br>

<%= link_to "Edit", edit_book_path(@book.id) %>|<%= link_to "back", books_path %>
